* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

@font-face {
  font-family: Ubuntu;
  src: url(./sources/fonts/Ubutntu/Ubuntu-Bold.ttf);
}

h1,h2,h3,h4,h5,h6 {
  font-family: Ubuntu;
  color: white;
}
body {
  background-color: rgba(20, 20, 20, 0.945);
}
.nav {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.link {
  position: static;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-decoration: none;
  color: black;
}